@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    margin: 0;
    color: #3D3D3D;
    font-family:Helvetica,Arial,sans-serif;
}

a {
    color: #3D3D3D;
	font-size: 1em;
	text-decoration: none;
}

a:hover {
    color: #CACACA;
}

#conteneur{
	width:1050px;
	margin-left:auto;
	margin-right:auto;
}

#header{
    background-image: url("/images/header.jpg");
    background-repeat: no-repeat;
    background-position: 0% -40px;
	height: 285px;
	margin: auto;
    margin-left: 160px;
    width: 731px;
}

#main{
	width:1050px;
	float:left;
    margin-top: 10px;
}

#contenu{
	float: left;
	width: 73.5%;
	margin-bottom: 20px;
}

aside{
	float: right;
	width: 22.5%;
    font-style: normal;
}

aside li{
	list-style-type: none;
}

aside .menuTitle{
    font-family: Helvetica, sans-serif;
	font-size: 1em;
    text-transform: uppercase;
	width: 100%;
}

aside .menuBlock{
    float: left;
    margin: auto;
    margin-top: 5px;
    width: 100%;
}

.ulmenuV{
	padding-left: 0;
	font-size:0.8em;
	line-height:20px;
}

#footer{
	text-align: right;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 950px;
	font-size:0.8em;
}

.post{
	line-height:0.5em;
}

.mainpost{
	line-height:1.3em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 0.9em;
}

.postcontent a{
    color: #AAAAAA;
}

.postcontent{
	line-height:1.3em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 0.9em;
    font-style: normal;
}

.postcontent img{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.postTitle{
	line-height: 35px;
    padding-top: 18px;
    text-transform: uppercase;
}

.postTitle a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    letter-spacing: -0.6px;
}

.postDate{
    background-color: #ECEDED;
    border-radius: 50px;
    color: #636363;
    float: left;
	font-size: 0.7em;
    height: 56px;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 12px 18px 24px 0;
    padding-top: 13px;
    text-align: center;
	text-transform: uppercase;
    width: 72px;
}

#archive {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    letter-spacing: -0.6px;
    text-align: center;
}

.title-font {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    letter-spacing: -0.6px;
}

nav#main_nav {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

nav#main_nav a:hover {
    color: #CACACA;
}

nav#main_nav a {
    font-family: 'Raleway',sans-serif;
    display: inline-block;
    margin: 0 54px;
}

hr#tophr{
    padding: 0;
}

.clear {
    clear: both;
}

hr{
	border: solid;
	border-top-width: 1px; 
	border-bottom-width: 0px; 
	border-right-width: 0px;
	border-left-width: 0px;
    border-color: #DDDDDD;
    clear: both;
    padding: 0 0 30px 0;
}

aside hr{
    float: right;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.categorie a{
    color: #BFBFBF;
}

.tags a{
    color: #BFBFBF;
}

.tags {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
    font-style: italic;
    margin-top: 10px;
	text-transform: uppercase;
}

.categorie{
	font-size:0.6em;
	text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.comlink{
    background: url("/images/commentbubble.png") no-repeat right;
    color: #222222;
    line-height: 20px;
    padding-right: 20px;
    padding-top: 2px;
}

#combox {
    margin-top: 30px;
}

.comconteneur{
	float:left;
	font-size: 0.8em;
	font-family: Helvetica, Arial, sans-serif;
	line-height:15px;
    padding: 20px 0 50px 0;
	width:100%;
}

.comconteneur hr{
    padding: 0;
}

.comconteneur strong{
	font-size: 1.2em;
}

a img{
	border: 0px;
}

.arrow {
    font-size: 18px;
}

.page_link a {
    color: #B1ECC7;
}

strong.pseudo a {
    font-size: 13px;
}

strong.pseudo {
    color: #BFBFBF;
    font-size: 13px;
    text-transform: lowercase;
}

.com_content {
    margin-top: 5px;
}

.melmelboo {
    color: #B1ECC7;
}

#commentaire {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.input_com {
    border: 1px solid #CECECE;
    text-align: left;
    height: 27px;
    margin-bottom: 13px;
}

select.input_com {
    width: 155px;
}

#contact-arrow{
    margin-bottom: 17px;
    margin-left: 7px;
}

#contact-div{
    text-align: center;
}

#contact-comment{
    border: 1px solid #CECECE;
    color: #7A7A7A;
    height: 200px;
    width: 430px;
}

#new-art{
    border: 1px solid #CECECE;
    color: #7A7A7A;
    height: 400px;
    width: 100%;
}

#contact{
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.input-contact-field {
    border: 1px solid #CECECE;
    color: #7A7A7A;
    height: 27px;
    margin-bottom: 13px;
    text-align: left;
    width: 300px;
}

.contact-field {
    color: #7A7A7A;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 5px;
}

.lighter {
    color: #AAAAAA;
}

input[type="submit"] {
    background: url("/images/button_bg.png") repeat-x scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    padding: 0 40px;
}

#admin_link {
    color: #ADADAD;
}

.tag_size_1 {
    font-size: 10px;
}

.tag_size_2 {
    font-size: 15px;
}

.tag_size_3 {
    font-size: 20px;
}

.tag_size_4 {
    font-size: 25px;
}

#tag_cloud {
    text-align: justify;
}

table, td {
    border: solid 1px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

ul.social{
    margin: auto;
    padding: 0;
    width: 101%;
}
ul.social li{
    display: inline-block;
    margin-left: 5px;
}

#tag_cloud_icon{
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #conteneur, #main, #contenu {
        width: 100%;
    }
    #header {
        background-size: cover;
        height: 500px;
        margin-left: 0;
        width: 100%;
    }
    #footer, aside, nav{
        display: none;
    }
    .postTitle a {
        font-size: 4em;
    }
    .postcontent {
        font-size: 2.8em;
        margin-left: 1%;
        margin-right: 1%;
    }
    .postcontent img {
        width: 100% !important;
    }
    .postDate{
        border-radius: 55px;
        font-size: 1.5em;
        height: 100px;
        width: 107px;
    }
    .categorie a{
        font-size: 2.5em;
    }
    .tags a{
        font-size: 2.7em;
    }
    .comlink{
        display: block;
        font-size: 2.7em;
        width: 30px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
    .postcontent {
        font-size: 2.3em;
    }
}
