RewriteEngine On

RewriteRule ^cat-(.*)-([0-9]+)$ index.php?controller=listing&action=category&cat=$2 [L] 
RewriteRule ^art-(.*)-([0-9]+)$ index.php?controller=article&action=article&art=$2 [L] 
RewriteRule ^diy-(.*)-([0-9]+)$ index.php?controller=article&action=diy&art=$2 [L] 

# Static pages
RewriteRule ^contact$ index.php?controller=staticpages&action=contact [L] 
RewriteRule ^about$ index.php?controller=staticpages&action=apropos [L] 
RewriteRule ^helphtml$ index.php?controller=staticpages&action=helphtml [L] 

# Admin
RewriteRule ^admin$ index.php?controller=staticpages&action=admin [L] 
RewriteRule ^logout$ index.php?controller=staticpages&action=logout [L] 
RewriteRule ^last_comments$ index.php?controller=comments&action=last_unread [L] 
RewriteRule ^mark_comment/([0-9]+)$ index.php?controller=comments&action=mark_read&com_id=$1 [L] 
RewriteRule ^mark_read_all_comments$ index.php?controller=comments&action=mark_all_read [L] 

# Article gestion
RewriteRule ^article_new$ index.php?controller=article&action=new_art [L] 
RewriteRule ^article_edit-([0-9]+)$ index.php?controller=article&action=new_art&art_id=$1 [L] 
RewriteRule ^article_delete-([0-9]+)$ index.php?controller=article&action=delete_art&art_id=$1 [L] 

# Archives
RewriteRule ^get_months$ index.php?controller=ajax&action=get_months [L] 
RewriteRule ^archive-([0-9]+)-([0-9]+)$ index.php?controller=listing&action=month&month=$1&year=$2 [L] 
RewriteRule ^archive-page-([0-9]+)$ index.php?controller=home&action=main&page=$1 [L]

AuthName "Page protégée"
AuthType Basic
AuthUserFile "/var/www/test.melmelboo.fr/.htpasswd"
Require valid-user
