@charset "utf-8";

body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #E9E9E9;
	font-size: 10px;
	margin-left: auto; 
	margin-right: auto; 
}

table.head{
	width: 570px;
}

.head{
	font-family: Verdana Arial, sans-serif;
	font-size: 25px; 
	text-align: center;
	color: #266082;
	font-weight: bold;
	font-style: italic;
}

.HeaderNav {
	color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold;
}

.PagesVisited {
	color: #2000ff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal;
}

.Visits {
	color: #2000ff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal;
}

.SiteName {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}

input.submit {
	text-decoration: underline;
	background: transparent;
	color: #3300FF;
	border-width: 1px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

input.submitDate {
	text-decoration: underline;
	background: transparent;
	color: #3300FF;
	border-width: 1px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}

input.submitTrans {
	text-decoration: underline;
	background: transparent;
	color: #3300FF;
	border-width: 0px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}

form, form div {
  display: inline;
}

